// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #mobile {
    .quotes {
      &-body {
        &-text {
          text-align: center;
        }
      }
    }

    .our-clients {
      margin-top: 0;
      &-item {
        background-size: 50% !important;
      }
    }

    .footer {
      &-contact {
        text-align: center;
        &-social {
          margin: 20px 0;
        }
        &-text {
          margin: 20px 0;
        }
        &-info {
          margin: 20px 0;
          ul {
            padding-left: 0 !important;
            li {
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }

    .category {
      &-header {
        text-align: center;
        h3 {
          font-size: 16px;
        }
        button {
          position: relative;
          margin: 0 auto;
          margin-bottom: 50px;
        }
      }
      &-body {
        &-title {
          text-align: center;
          h2 {
            font-size: 16px;
          }
        }
      }
    }

    .post-header button {
      position: relative;
      margin: 0 auto;
    }

    // .post-body {
    .s-nav span {
      width: 40px;
      height: 40px;
    }
    // }

    .category {
      .category-header {
        h1 {
          font-size: 34px;
          margin-top: 100px;
          margin-bottom: 100px;
        }
        h3 {
          margin-top: 138px !important;
        }
      }
    }

    .footer-contact {
      .container {
        padding-top: 20px !important;
      }
    }
    .blog-header-bg {
      ul {
        margin-left: 17px;
      }
    }
    .know-us {
      height: auto;

      h1,
      h2,
      h3 {
        text-align: center;
      }
    }
    .blog-content .article-body-item-info {
      h2 {
        height: 51px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        max-height: 75px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

//start from large devices
@media (max-width: 992px) {
  .works-wrapper {
    div.works-items {
      background-size: cover;
      animation: none;
    }
  }
  .works {
    &-items {
      & > div {
        height: 200px !important;
      }
    }
    &-item {
      &-content {
        .number {
          margin-left: 0 !important;
          font-size: 20px !important;
        }
        h4 {
          margin-left: 0 !important;
          font-size: 15px !important;
        }
        &-hover {
          h3 {
            // top: 0 !important;
            font-size: 160px !important;
            text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
